/* palette: 
#fbbbad
#ee8695
#4a7a96
#333f58
#292831
*/
body {
  padding: 0;
  margin: 0;
  font: 2.5em "Nunito Sans", "Raleway", "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #333f58;
  background-color: #E4A0C5;
}

main{
  padding: 2rem 2.5rem;
}

header{
  background-color: #333f58;
  padding: 1em 0;
  color: #E4A0C5;
}

h1{

  font: 2em "Raleway";
  text-align: center;
  margin: 0;
}

a {
  color: #00B7FF;
}

.download-button{
  background-color: #BC8CB4;
  color: #333F58;
}

input {
  background-color: #BC8CB4;
  border: none;
  color: #E4A0C5;
  padding: 1em 1.5em;
  text-decoration: none;
  margin: .2em .1em;
  cursor: pointer;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

input[type="file"] {
  z-index: -1;
  top: 2em;
  left: .5em;
  font-size: .7em;
  color: #333F58;
}

.button-wrap {
  position: relative;
  font-size: 1em;
}



.btn{
  font-size: .7em;
}
.btn:hover {
  background-color: #505272;
  color: #BC8CB4;
}